.container{
display:flex;
flex-direction: column;
height:550px;
width:100%;
border: 4px solid #dccabc;
border-radius: 20px;
text-align: center;
justify-content: center;
}


.formContainer{
    font-family: "Caveat", cursive;
    font-size: 21px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    width:400px;
    height:350px;
    background-image: url("images/plantborder.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:30px;

}
#form{
    width:380px;
    height: 120px;
    text-align:right;
    padding-top: 115px;
}
.formInput{
    
    border-radius: 5px;
    font-size:15px;
    font-family: cursive;
    
}
.formInput::placeholder {
    color: green;
    opacity: 0.8; 
    font: 14;
    
}

#submit{
    background-color: #dcdabc;
    font-family: cursive;
    
}
#errorResult{
    display: block;
    width:100%;
    justify-content: center;
    text-align:center;
    color:rgb(189, 5, 5);
}
 

/* Styling for notes.html */
.pageContainer{
    display:flex;
    flex-direction: row;
    height:600px;
    width:100%;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap   
}


#noteContainer{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 50%;
    height:600px;
    border: 4px solid #dccabc;
    border-radius: 20px;
    background-color: #dcdabc;
    min-width: 600px;
}
#topContainer{
    display:flex;
    flex-direction:row;
}

#contentContainer{
    display:relative;
    width: 50%;
    height:600px;
    border: 4px solid #dccabc;
    border-radius: 20px;
    background-color: #dcdabc;
    min-width: 600px;
}
#weatherContainer{
    display:flex;
    flex-direction: row;
    width:auto;
    height: 180px;
    margin:30px;
}
#greetContainer{
    display:flex;
    flex-direction: row;
    height: 110px;
    width:400px;
    min-width:400px;
}
#greetLine{
    font-size: 25px;
    font-family: "Caveat", cursive;
}
#nameInput{
    border-radius: 5px;
    font-size: 18px;
}

#plant1{
    height: 100px;
}

#youtubePlayer{
    border-radius: 20px;
}

#stickyDate{
    display:flex;
    position:relative;
    height: 100px;
    width:auto;
}

#currentDate{
    display:flex;
    position:absolute;
    justify-content: center;
    text-align: center;
    z-index: 3;
    top:30px;
    margin-left: 30px;
    font-family: "Caveat", cursive;
    color: rgb(1, 74, 1)
}

.addNote{
    display:flex;
    flex-direction: column;
    padding: 35px;
    height:280px;
    width:280px;
    border: 1px solid black;
    background-image: url("images/notepad.png");
    background-size: cover;
}
.noteGroup{
    background: none;
    width: 260px;
    border-radius: 5px;
    margin-left: 20px;
    
}

/* MediaQuery for small devices */
@media (max-width: 700px){
    .pageContainer{
        display:flex;
        height:auto;
        width:100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .note{
       display:flex;
        width:100%;
        height:auto;
        padding:20px;
    }
    #contentContainer{
        flex-direction: column;

    }
    
    #currentDate{
        margin-top:30px;
    }

}