.container{
    display:flex;
    flex-direction: column;
    height:550px;
    width:100%;
    border: 4px solid #dccabc;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}


.formContainer{
    font-family: "Caveat", cursive;
    font-size: 21px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    width:400px;
    height:350px;
    background-image: url("images/plantborder.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:30px;

}
#form{
    width:380px;
    height: 120px;
    text-align:right;
    padding-top: 115px;
}
.formInput{
    border-radius: 5px;
    font-size:15px;
    font-family: cursive;
}
.formInput::placeholder {
    color: gray;
    opacity: 0.8; 
    font-size: 14px;
    
}

#submit{
    background-color: #dcdabc;
    font-family: cursive;
    
}
#errorResult{
    display: block;
    width:100%;
    justify-content: center;
    text-align:center;
    color:rgb(189, 5, 5);
}
 

/* Styling for notes.html */
.pageContainer{
    display:flex;
    flex-direction: row;
    height:600px;
    width:100%;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 10px;
}


#noteContainer{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 50%;
    height:600px;
    border: 4px solid #dccabc;
    border-radius: 20px;
    background-color: #dcdabc;
    min-width: 600px;
}
#topContainer{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100px;
}

#contentContainer{
    display:relative;
    width: 50%;
    height:600px;
    border: 4px solid #dccabc;
    border-radius: 20px;
    background-color: #dcdabc;
    min-width: 600px;
}
#weatherContainer{
    display:flex;
    flex-direction: row;
    width:auto;
    height: auto;
    margin:30px;
}
#greetContainer{
    display:flex;
    flex-direction: row;
    height: 110px;
    width:75%;
    min-width:400px;
}
#greetLine{
    font-size: 25px;
    font-family: "Caveat", cursive;
}
#nameInput{
    border-radius: 5px;
    font-size: 18px;
}

#plant1{
    height: 100px;
}

#youtubePlayer{
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#stickyDate{
    display:flex;
    position:relative;
    height: 100px;
    width:auto;
}

#currentDate{
    display:flex;
    position:absolute;
    justify-content: center;
    text-align: center;
    z-index: 3;
    top:30px;
    margin-left: 30px;
    font-family: "Caveat", cursive;
    color: rgb(1, 74, 1)
}

.addNote{
    display:flex;
    flex-direction: column;
    padding: 35px;
    height:280px;
    width:280px;
    margin-left: 15px;
    background-image: url("images/notepad.png");
    background-size: cover;
}
.noteGroup{
    background: none;
    width: 260px;
    border-radius: 5px;
    margin-left: 20px;
    border: 2px solid rgb(33, 59, 1)
}


.noteLabel{
    font-family: "Caveat", cursive;
    color: rgb(56, 71, 30)
}
#createNote{
    width:100px;
    border-radius: 10px;
    background-color: rgb(153, 153, 108);
}

#bottomContainer{
    display:flex;
    flex-direction: row;
    height:auto;
    width:100%;

}
#addedNoteContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    width:300px;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.note-holder{
    border-bottom: 1px solid brown;
    height: auto;
    width:300px;
    font-family: "Caveat", cursive;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.note{
    word-wrap: break-word;
    overflow-wrap: break-word;
    width:300px;
    height:auto;
    font-size: 12px;

}
.deleteNote{
    border-radius: 50%;
    font-weight: bold;
    text-align:center;
    background-color:maroon;
    margin-left: 5px;
    color:#dcdabc
}

/* MediaQuery for small devices */
@media (max-width: 900px){
    .pageContainer{
        display:flex;
        height:auto;
        width:100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #noteContainer{
        display: flex;
        width: 100%;
        height:auto;
    }
    #weatherContainer{
        width:500px;
        height: 180px;
    
    }
    #contentContainer{
        flex-direction: column;
        justify-content: center;
        width:100%;
        height:auto;
        align-items: center;

    }
    #addedNoteContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 350px;
        height: auto;
        word-wrap: break-word
    }
    .note{
        display: flex;
        flex-wrap: wrap;
        width:350px;
        padding: 3px;

    }   
    #currentDate{
        margin-top:30px;
    }
    #youtubePlayer{
        min-width: 500px;
    }

}